@use '../abstract/mixins';
@use '../abstract/variaveis';

header {
    padding: 2rem;
    background: variaveis.$gradientPrimario;
   
    nav {
        gap: 1.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .linha {
            width: 80%;
            border-top: 1px solid black;
        }

        ul {
            gap: 2rem;
            display: inline-flex;
            
            li {
                list-style-type: none;
            }
            
            a {
                font-weight: 400;
                text-decoration: none;
                @include mixins.ff-fs-color(variaveis.$fontTextos, 1rem, variaveis.$corPrimaria);
                &:hover {
                    font-weight: bolder;
                }
            }
        }
    }

    #home {
        display: flex;
        max-width: 1040px;
        align-items: center;
        justify-content: space-between;
        @include mixins.margem-central(80%);

        .textos-home {
            max-width: 464px;
        }

        .img-home {
            max-width: 474px;
            img {
                width: 100%;
            }
        }

        h1 {
            font-size: 42px;
            margin-bottom: 2rem;
            color: variaveis.$corPrimaria;
            font-family: variaveis.$fontTitulos;
            span{
                color: variaveis.$corSecundaria;
            }
        }
        .btn-main {
            border: none;
            width: 300px;
            padding: 1.5rem;
            font-size: 22px;
            font-weight: 600;
            border-radius: 40px;
            color: variaveis.$branco;
            font-family: variaveis.$fontTextos;
            background-color: variaveis.$corTercearia;
            &:hover {
                background: variaveis.$corSecundaria;
            }
        }
    }       
}