body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 2rem;
  background: linear-gradient(180deg, #e8f5c8 0%, #FFFFFF 96.87%);
}
header nav {
  gap: 1.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header nav .linha {
  width: 80%;
  border-top: 1px solid black;
}
header nav ul {
  gap: 2rem;
  display: inline-flex;
}
header nav ul li {
  list-style-type: none;
}
header nav ul a {
  font-weight: 400;
  text-decoration: none;
  color: #0C0421;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
header #home {
  display: flex;
  max-width: 1040px;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
header #home .textos-home {
  max-width: 464px;
}
header #home .img-home {
  max-width: 474px;
}
header #home .img-home img {
  width: 100%;
}
header #home h1 {
  font-size: 42px;
  margin-bottom: 2rem;
  color: #0C0421;
  font-family: "Krona One", sans-serif;
}
header #home h1 span {
  color: #4E75FF;
}
header #home .btn-main {
  border: none;
  width: 300px;
  padding: 1.5rem;
  font-size: 22px;
  font-weight: 600;
  border-radius: 40px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  background-color: #4E75FF;
}

#servico {
  background: linear-gradient(180deg, #e8f5c8 0%, #FFFFFF 96.87%);
}
#servico .cards {
  gap: 1.5rem;
  display: flex;
  padding: 5rem 0;
  width: 80%;
  margin: 0 auto;
}
#servico .card {
  text-align: center;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  border: 1px solid #FFFFFF;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7019607843) 0%, rgba(202, 212, 250, 0.3019607843) 100%);
}
#servico .card-titulo {
  color: #0C0421;
  font-size: 1.6rem;
  font-family: "Krona One", sans-serif;
}
#servico .card-texto {
  color: #0C0421;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

#desconto {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
#desconto h4 {
  color: #0C0421;
  font-size: 1.6rem;
  font-family: "Krona One", sans-serif;
}
#desconto p {
  color: #0C0421;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
#desconto .input-btn {
  height: 65px;
  margin: 0 auto;
  border-radius: 65px;
  display: inline-flex;
  width: 790px;
  border: 1px solid #4E75FF;
}
#desconto .input-btn input {
  color: #0C0421;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  margin-left: 2rem;
  width: 513.5px;
}
#desconto .input-btn button {
  color: white;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 0 65px 65px 0;
  width: 276.5px;
  background: #4E75FF;
}

#contatos {
  width: 80%;
  margin: 0 auto;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}
#contatos .contatos-imgs {
  gap: 1.5rem;
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
#contatos .contatos-imgs img {
  width: 100%;
}
#contatos .contatos-imgs img:nth-child(n+2) {
  width: 48%;
}
#contatos .contatos-form {
  max-width: 50%;
}

#nosso-espaco {
  width: 80%;
  margin: 0 auto;
}
#nosso-espaco .detalhes {
  gap: 2rem;
  width: 100%;
  padding: 2rem 0;
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
}
#nosso-espaco .detalhes .imgs-espaco, #nosso-espaco .detalhes .espaco-textos {
  max-width: 500px;
}
#nosso-espaco .detalhes .espaco-textos .titulo {
  color: #4E75FF;
  font-size: 1.8rem;
  font-family: "Krona One", sans-serif;
  font-weight: 500;
}
#nosso-espaco .detalhes .espaco-textos .infos {
  color: #0C0421;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
#nosso-espaco .detalhes .espaco-textos .separador {
  width: 100%;
}
#nosso-espaco .detalhes:nth-child(2) {
  flex-direction: row-reverse;
}/*# sourceMappingURL=styles.css.map */