// Variaveis
    // Cores
    $corPrimaria: #0C0421;
    $corSecundaria: #4E75FF;
    $corTercearia: #85A0FF;
    $corQuaternaria: #E8F5C8;
    $corDefalt: #CAD4FA;
    $gradientPrimario: linear-gradient(180deg, #e8f5c8 0%, #FFFFFF 96.87%);
    $gradientSecundario: linear-gradient(180deg, #ffffffb3 0%, #cad4fa4d 100%);

    // Fontes
    $fontTextos: 'Montserrat', sans-serif;
    $fontTitulos: 'Krona One', sans-serif;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2rem;
    background: $gradientPrimario;
   
    nav {
        gap: 1.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .linha {
            width: 80%;
            border-top: 1px solid black;
        }

        ul {
            gap: 2rem;
            display: inline-flex;
            
            li {
                list-style-type: none;
            }
            
            a {
                font-size: 22px;
                font-weight: 400;
                color: $corPrimaria;
                text-decoration: none;
                font-family: $fontTextos;
            }
        }
    }   
}

